<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fred.wimi.wimiproduct.mapper.ProductCategoryMapper">
  <resultMap id="BaseResultMap" type="com.fred.wimi.wimiproduct.api.model.ProductCategory">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="created_by" jdbcType="CHAR" property="createdBy" />
    <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="updated_by" jdbcType="CHAR" property="updatedBy" />
    <result column="updation_date" jdbcType="TIMESTAMP" property="updationDate" />
    <result column="gc_flag" jdbcType="BIT" property="gcFlag" />
    <result column="enabled_flag" jdbcType="BIT" property="enabledFlag" />
    <result column="category_code" jdbcType="VARCHAR" property="categoryCode" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="parentid" jdbcType="BIGINT" property="parentid" />
    <result column="sort" jdbcType="DECIMAL" property="sort" />
    <result column="levels" jdbcType="INTEGER" property="levels" />
    <result column="photo_url" jdbcType="VARCHAR" property="photoUrl" />
  </resultMap>
</mapper>